body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navigation {
    width: 1300px;
    height: auto;
    background-color: rgba(106, 101, 211, 0.795);
    margin-top: 0;
    margin-left: 30px;

}
.navigation .menu ul{
    display: flex;
    justify-content: space-around;
    width: 1290px;
    height: 40px;
    background-color: rgba(243, 94, 126, 0.808) ;
    padding: 5px;
}
.navigation .menu ul li{
    list-style: none;
    border:3px solid palegoldenrod;
    padding: 5px;
    color: white;
   
}
.navigation .menu ul:hover li{
    width:auto;
    height: 30px;
    font-size: 25px;

}
.navigation .nav img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 50px;
   
    
}
.nav{
    display: flex;
    justify-content:space-around;
    margin-top: 70px;
}
 h1{
    line-height: 0.8;
}
.osman2{
    margin-top: 80px;
    width: 600px;
    height: 400px;
    text-align: justify;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    position: relative ;
    width: 1200px;
    height: 300px;
    margin: 40px auto;
}
.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(150, 23, 23);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .box .icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
    border-radius: 50%;
}
.container .box:hover img{
    font-size: 40px;
}
.container .box .content{
    position:absolute;
    height: 100%;
    top: 80px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
.container .box .content p{
    margin: 0;
    padding: 0;
}
.container .box:nth-child(1) .icon{
    background: #319635;
}
.container .box:nth-child(1){
    background: #4caf50;
}
.container .box:nth-child(2) .icon{
    background: #d03852;
}
.container .box:nth-child(2){
    background: #f54967;
}
.container .box:nth-child(3) .icon{
    background: #23798e;
}
.container .box:nth-child(3){
    background: #328fa5;
}